body{
    background-color: rgb(48, 47, 47);
    font-family: 'Raleway', sans-serif;
}


/*heading styles*/
.heading{
    background-color: rgb(48, 47, 47);
    padding-left: 10px;
    border-bottom: .5px solid rgb(65, 63, 63);
}

.heading-child{
    display: inline;
    color: white;
}

#unl-logo{
    margin: 10px 4px 10px 10px;
    font-size: 30px;
}


/*card layout*/

.player-row{
    text-align: center;
    margin: 20px 8px;
}
.player-card{
    background-color: rgb(66, 65, 65);
    box-shadow: 0 2px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.23);
    display: inline-block;
    margin: 8px 3px;
    border-radius: 5px;
    width: 45%;
    text-align: center;
    padding: 4px;
}

    /*card info*/
#card-name{
    font-size: 18px;
    color: white;
}
#card-position{
    font-size: 16px;
    color: rgb(190,0,0);
}
#card-success{
    font-size: 16px;
    color: rgb(190,0,0);

}